.env
wiwp.db
test_phase1.py
test_phase2.py
discord_bot.py

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.so

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec
